@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.woff') format('woff'),
       url('ProximaNova-Regular.ttf') format('truetype'),
       url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

