@font-face {
    font-family: 'AvenirNextRoundedPro-Reg';
    src: url('../fonts/AvenirNextRoundedProRegular/AvenirNextRoundedPro-Reg.eot');
    src: url('../fonts/AvenirNextRoundedProRegular/AvenirNextRoundedPro-Reg.woff') format('woff'),
       url('../fonts/AvenirNextRoundedProRegular/AvenirNextRoundedPro-Reg.ttf') format('truetype'),
       url('../fonts/AvenirNextRoundedProRegular/AvenirNextRoundedPro-Reg.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextRoundedPro-Med';
    src: url('../fonts/AvenirNextRoundedProMedium/AvenirNextRoundedPro-Med.eot');
    src: url('../fonts/AvenirNextRoundedProMedium/AvenirNextRoundedPro-Med.woff') format('woff'),
       url('../fonts/AvenirNextRoundedProMedium/AvenirNextRoundedPro-Med.ttf') format('truetype'),
       url('../fonts/AvenirNextRoundedProMedium/AvenirNextRoundedPro-Med.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/MontserratRegular/Montserrat-Regular.eot');
    src: url('../fonts/MontserratRegular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'),
    url('../fonts/MontserratRegular/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
