html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: "OpenSansRegular";
}
a, a:hover, a:active{
    text-decoration: none;
}
.wrapper{
    height: 100%;
}
.maincontent{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    height: 100%;
    position: relative;
}
.page_1{
    background: url(../img/page1.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.page_1 .logo{
    display: inline-block;
    margin: 2em 0 0 3em;
}
.page_1 .logo p{
    display: inline;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
}
.page_1 .logo p::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 30%;
    background-color: #a2ca28;
    transition: width ease 0.4s;
}
.page_1 .logo p:hover::after{
    width: 100%;
    transition: width ease 0.4s;
}
.page_1 .menu{
    display: inline-block;
    float: right;
    margin: 3em 3em 0 0;
}
.page_1 .menu li{
    display: inline;
}
.page_1 .menu li a{
    margin: 0 1.5em;
    color: #fff;
    text-transform: uppercase;
    transition: color ease 0.4s;
    position: relative;
}
.page_1 .menu li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    height: 1px;
    width: 0%;
    background-color: #fff;
    transition: all ease 0.4s;
}
.page_1 .menu li a:hover::after{
    width: 100%;
    left: 0;
    transition: all ease 0.4s;
}
.page_1::after {
    background-color: rgba(253, 99, 78, 0.3);
    bottom: 425px;
    content: '';
    display: block;
    height: 100px;
    width: 200%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.2deg);
    transform-origin: 500%;
    z-index: 1;
}
.page_1 .bottom_text{
    display: block;
    max-width: 400px;
    position: absolute;
    bottom: 130px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 100px;
}
.page_1 .bottom_text .first{
    font-size: 2em;
}
.page_1 .bottom_text .first span{
    color: #a2ca28;
}
.page_1 .bottom_text .second{
    text-align: right;
    margin: -10px 30px 0 0;
    font-size: 0.85em;
}
.page_1 .bottom_text .second span{
    color: #fd634e;
}





.page_2{
    height: auto;
    background-color: #a2ca28;
}
.page_2 .inner{
    display: block;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}
.page_2 .menu ul{
    -webkit-padding-start: 0px;
}
.page_2 .menu li{
    display: inline-block;
    width: 24.5%;
    vertical-align: top;
    color: #fff;
}
.page_2 .menu li .icon{
    display: block;
    width: 60px;
    height: 47px;
    position: relative;
}
.page_2 .menu li .icon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 47px;
    background-image: url(../img/icon_sprite.png);
    background-position: 0 0;
}
.page_2 .menu li:nth-child(2) .icon::before{
    background-position: -256px 0;
}
.page_2 .menu li:nth-child(3) .icon::before{
    background-position: -179px 0;
}
.page_2 .menu li:nth-child(4) .icon::before{
    background-position: -90px 0;
}
.page_2 .menu li .subtitle{
    font-size: 1.5em;
    padding: 10px 0 8px 0;
}
.page_2 .menu li .about{
    font-family: 'ProximaNova-Regular';
    padding-right: 35px;
    min-height: 90px;
    font-size:  0.9em;
    line-height: 1.8;
}
.page_2 .menu li a{
    color: #fff;
    font-size:  0.9em;
    line-height: 1.8;
}
.line_1, .line_2{
    display: block;
    height: 394px;
}
.line_1{
    margin-top: 50px;
}
.line_1 .block, .line_2 .block{
    display: inline-block;
    width: 33%;
    height: 100%;
    background-color: #fff;
    vertical-align: top;
    text-align: center;
}
.line_1 .block{
    float: left;
}
.title{
    color: #fd634e;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
    letter-spacing: 2px
}
h3{
    text-transform: uppercase;
    font-size: 2.25em;
    color: #a2ca28;
    font-family: "OpenSansLight";
    margin-top: -5px;
}
.block .drop{
    display: inline-block;
    width: 20px;
    height: 35px;
    background-image: url(../img/icon_sprite.png);
    background-position: 68px 0;
}
.text{
    padding: 10px 40px 0 40px;
    color: #656e74;
    font-size: 1.1em;
    line-height: 1.5;
}
.block a{
    color: #a2ca28;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 1.1em;
}
.line_1 .photo, .line_2 .photo{
    display: inline-block;
    width: 67%;
    height: 100%;
    vertical-align: top;
    position: relative;
}
.line_1 .photo{
    background: url(../img/page2_1.jpg) no-repeat;
}
.line_1 .photo p{
    color: #f7614c;
    position: absolute;
    right: 50px;
    bottom: 40px;
    font-size: 1em;
    text-transform: capitalize;
}
.line_1 .photo p span{
    color: #fff;
}
.photo p .drop2{
    display: inline-block;
    height: 30px;
    width: 20px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    margin: 0 0 -8px 8px;
}
.line_2 .photo{
    background: url(../img/page2_2.jpg) no-repeat;
    float: left;
}
.line_2 .photo p{
    color: #fff;
    position: absolute;
    left: 50px;
    bottom: 40px;
    font-size: 1em;
    text-transform: capitalize;
}





.page_3{
    background-color: #fd634e;
    height: auto;
}
.item_1{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 330px;
    background-image: url(../img/page3_1.jpg);
}
.page_3 .inner{
    display: block;
    max-width: 80%;
    margin: 0 auto;
}
.item_2{
    display: inline-block;
    vertical-align: top;
    width: 67%;
    height: 330px;
    background-image: url(../img/page3_2.jpg);
    float: right;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.85em;
    position: relative;
}
.item_2 p{
    position: absolute;
    top: 30px;
}
.item_2 p.left{
    left: 30px;
}
.item_2 p.right{
    right: 40px;
}
.item_2 p.right::after{
    content: "";
    width: 22px;
    height: 42px;
    background-image: url(../img/icon_sprite.png);
    background-position: 22px 0;
    position: absolute;
    top: -23px;
    right: -25px;
}
.item_3{
    display: inline-block;
    height: 300px;
    background-color: #fff;
    width: 33%;
    position: relative;
}
.item_3::after{
    content: '';
    position: absolute;
    top: 50px;
    right: 30px;
    width: 36px;
    height: 40px;
    background-image: url(../img/icon_sprite.png);
    background-position: 274px 0;
}
.item_3 .title, .item_3 h3{
    margin-left: 40px;
}
.item_4{
    display: inline-block;
    width: 67%;
    height: 300px;
    background-color: #a2ca28;
    color: #fff;
    float: right;
}
.item_4 h3{
    color: #fff;
    margin: 50px 0 0 50px;
}
.item_4 p{
    margin: 25px 0 0 50px;
    max-width: 80%;
    line-height: 1.5;
}


.page_4{
    background-color: #fd634e;
}