@font-face {
  font-family: 'AvenirNextRoundedPro-Med';
  src: url('AvenirNextRoundedPro-Med.eot');
  src: url('AvenirNextRoundedPro-Med.woff') format('woff'),
       url('AvenirNextRoundedPro-Med.ttf') format('truetype'),
       url('AvenirNextRoundedPro-Med.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

