@font-face {
  font-family: 'AvenirNextRoundedPro-Reg';
  src: url('AvenirNextRoundedPro-Reg.eot');
  src: url('AvenirNextRoundedPro-Reg.woff') format('woff'),
       url('AvenirNextRoundedPro-Reg.ttf') format('truetype'),
       url('AvenirNextRoundedPro-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

